*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
  background-image: url(vinatgeBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
}
  /* .main{
     
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } */
.container{
    height: 55vh;
    width: 40vw;
    background-image: url(vintageQuote.png);
    background-size: cover;
    /* background-position: center; */
     background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;

}

.content{
    height: 20vh;
    width: 32vw;
    font-size: 18px;
         margin-top: 26px;
    overflow-wrap: break-word;
    word-break: break-word;
      color: rgb(139, 53, 53);

}

h6{
    font-size: 17px;
    margin-top: 5px;
      color: rgb(100, 39, 39);
}

h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(139, 53, 53);
    margin-left: 10vw;
}
h4{
      color: brown;
   font-size: 1rem;
   font-weight: 100;
   margin-bottom: 3vh;
   margin-left: 14vw;
}
button{
    width: 9vw;
    padding: 8px;
    background-color: burlywood;
    border: none;
    border-radius: 6px;
    margin-top: 2vh;
    margin-left: 15vw;
       color: rgb(126, 31, 31);
         border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}


@media  (max-width: 768px) {
    body{
        height: 90vh;
    }
    .main{
        margin-bottom: 29vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
      .container{
        width: 65vw;
        height: 50vh;
        text-align: center;
        }
      button{
        
         width: 20vw;
         padding: 15px;
      }
}